/__pycache__
.env
/chats
conversations.json
readme.md
test.py
*.tfstate
/anotherExperiment/Deploy/backend.tf
history.txt
/cookies
/anotherExperiment/package
/anotherExperiment/sources/
/anotherExperiment/terraform.tfvars
/anotherExperiment/module/sources
/anotherExperiment/vars.yaml
/anotherExperiment/vars_tmp.yaml
/anotherExperiment/terraform.tfstate.backup
/anotherExperiment/.terraform/
/anotherExperiment/providers.tf
/anotherExperiment/main_spoke.tf
/anotherExperiment/terraform.tfvars
/anotherExperiment/mysqlqueries.sql
/oldstuff
/anotherExperiment/terraform.tfstate
/anotherExperiment/deployer.py
/anotherExperiment/deps.sh
/anotherExperiment/deploydebug.log